$border: #f5e6f0;
$primary: #bd4494;
$success: #46e738;
$warning: #f3cf06;
$black: rgb(58, 58, 58);
$success-light: lighten($success, 30%);
$blue: #2e8fff;
$danger: rgb(179, 34, 34);
$blue-light: lighten($blue, 30%);
